.dashboard {

  height: 100%;
  width: 100%;

  .nav {
    .dashboard-name {
      font-weight: bold;
      margin-right: 20px;
    }
    .nav-actions {
      text-align: right;
      width: 100%;
    }
  }

  .add-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

}
