.dashboard {

  height: 100%;
  width: 100%;

  .nav {
    .dashboard-name {
      font-weight: bold;
      margin-right: 20px;
    }
  }

  .add-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

}
