html,
body {
    height: 90%;
    font-family: "Raleway", sans-serif;
    background: #151515;
    color: white;
}

.content{
    padding: 20% 0;
    text-align: center;

}

p {
    -webkit-animation-name: aaa; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: aaa;
    animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes aaa {
    from {
        opacity: 0;
        font-size: 50%;
    }
    to {
        opacity: 1;
        font-size: 100%;
    }
}

/* Standard syntax */
@keyframes aaa {
    from {
        opacity: 0;
        font-size: 50%;
    }
    to {
        opacity: 1;
        font-size: 100%;
    }
}

a {
    text-decoration: none;
}

a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: #006600;
}